body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: block;
}
html{
   overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    position: fixed;
    padding: 10px;
    margin-top: -8px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 16px;
}
nav{
    display: flex;
    margin-left: 20px;
}
.threeline{
    font-weight: bold;
    margin-left: -10px;
    display: block;
}
.buttons{
    padding: 15px 10px;
    margin-left: 1030px;  
}
.buttons button{
    margin-left: 10px;
    padding: 10px 13px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.login{
    background-color:white ;
    color: black;
    border-radius: 50px;
    font-weight:550;
    border: 2px solid white;
}
.signup{
    background-color: black;
    color: white;
    border-radius: 30px;
    font-weight:550;
    border: 2px solid white;
}
.uber img{
    position: absolute;
    height: 100%;
    font-weight: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}
main{
    padding: 280px 60px;
}
main h1{
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 64px;
    font-weight: 700;
    font-family: UberMove, sans-serif;
}
.search{
   margin-bottom: 10px;
}
input, select, .search-button{
    padding: 20px;
    border: none;
    font-size: 16px;
}
input{
    padding-right: 280px;
    font-weight: 540;
}
select{
    cursor: pointer;
    padding-right: 75px;
}
.search-button{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    font-size: large;
}
.sign-in-link{
    color: black;
}
.sign-in-link a{
    color: black;
    font-size: 15px;
}
.areas{
    margin-top:30px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
}
.options{
    padding:80px;
    margin-left: -100px;
}
.areas .options img{
    width: 110%;
    height: 250px;
    right: 900px;
    
}
.options p{
    font-weight: bold;
    font-size: 28px;
    margin-right: 65px;
    max-width: 100%;
    margin-top: 10px;
}
.options a{
    color: black;
    margin-left: -150px;
}
.map img{
    width: 97.5%;
    margin-left: 20px;
    margin-top: -20px;
    margin-right: -30px;
}
.cites{
    display: flex;
} 
.cites h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.cites a{
    color: black;
    margin-left: 940px;
    padding: 40px;
}
.citenames{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    margin-top: -30px;
    color:#494646;
    cursor: pointer;
}
.citenames .column{
    flex-basis: 20%;
}
.citenames .column p{
    font-size: 18px;
    margin: 25px 0;
}
.countries{
    display: flex;
}
.countries h2{
    font-size: 40px;
    font-family:Arial, sans-serif;
    margin-left: 40px;
}
.countries a{
    color: black;
    margin-left: 700px;
    padding: 38px;
}
.countriesname{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    cursor: pointer;
    margin-top: -20px;
    margin-left: 10px;
}
.countriesname .column{
    flex-basis: 20%;
}
.countriesname .column p{
    font-size: 18px;
    margin: 25px 0;
    color: #294646;
}
hr{
    border: none;
    height: 0.5px;
    background-color: rgb(192, 187, 187);
    margin-top: 10px;
}
.uber{
    display: flex;
}
.uber h2{
   font-size: 35px; 
   padding: 30px;
   margin-right: 300px;
   margin-left: 80px;
}
.moreoptions{
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
.moreoptions .column{
    display: flex;
    flex-direction: column;
     margin-right: 100px;
}
.moreoptions .column a{
    color:  #000000;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 18px;
    color: #294646;
}
.moreoptions .column a:hover{
    text-decoration: underline;
}
.appstores{
    display: flex;
    cursor: pointer;
    margin-left: 100px;
}
 .app-store img{
   margin-top: -200px; 
   height: 150px;
}
.google-play img{
   margin-top: -150px;
   height: 180px;
}
.socialmedia{
    display: flex;
    margin-top: 35px;
    margin-left: 90px;
}
.facebook img{
height: 30px;
}
.twitter img{
    height: 22px;
    margin-top: 4px;
}
.instagram img{
    height: 25px;
    margin-top: 4px;
}
.footerlink{
    margin-left: 700px;
    font-size: 15px;
    margin-top: -20px;
}
.footerlink a{
    color: #294646;
    text-decoration: none;
    margin-left: 30px;
}
.footerlink a:hover{
    text-decoration: underline;
}
.privacy{
    display: flex;
    justify-content: space-between;
    margin-left: 450px;
    margin-right: 74px;
    color: #294646;
    font-size: 15px;
}
/* mobile style*/
@media screen and (max-width:600px){
.areas {
    margin-top: -200px;
}
.options{
    margin-left: -0px;
    padding:60px ;
}
.areas .options img{
   width: 180px;
   height: 100px;
   margin: 0;
}
}
/* small tablet styles*/
@media screen and (min-width:620px){
}
/* large tablets & laptop style*/
@media screen and (min-width: 960px){
   }
/* desktop styles*/
@media screen and (max-width: 1181px){
    header{
      margin-top: -50px;
    }
    .buttons{
        padding: 50px;
       margin-left: 712px;
    }
    .uber img{
        height: 100%;
    }
    main{
       padding: 290px 0; 
       margin-left: 30px;
    }
    .search{
        margin-left: 30px;
    }
    .sign-in-link{
        margin-left: 30px;
    }
    .areas{
        margin-top: 10px;
    }
    .areas .options img{
        height: 60%;
        width: 110%;   
    }
    .options p{
        margin: 0;
        font-size: 26px;
    }
    .options a{
        font-size: 15px;
        margin-right: -90px;
        font-weight: bold;
    }
    .cites a{
        margin-left:690px;
    }
    .countries a{
        margin-left: 450px;
    }
    .uber h2{
        margin-left: 0px;
        margin-right: 20px;
    }
    .moreoptions {
       padding: 70px;
       padding-left: 260px;
    }
    .appstores{
     margin-top: -50px;
     margin-left: 20px;
    }
    .footerlink{
        margin-left: 500px;
        margin-top: -30px;
    }
    .privacy{
        margin-left: 300px;
    }
}
/* grid testing*/
