body{
    background: #333;
    font-family: verdana;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}
h1{
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 48px;
}
.pannels{
    list-style-type:none;
    padding: 0;
}
 .pannels li{
    position: relative;
    width: 25%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    float: left;
}
.pannels li div{
    width: 100%;
    padding: 50% 0;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
}
.pannels div.back{
    transform: rotateY(90deg);
}
.pannels div.front{
    position: absolute;
}
.pannels li:hover div.front{
    animation: twirl 0.2s ease-in forwards;
}
.pannels li:hover div.back{
    animation:twirl 0.2s ease-in forwards reverse;
}
@keyframes twirl{
    0%{transform: rotateY(0deg);}
    100%{transform: rotatey(90deg);}
}