body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;

}
.uber img{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}
header{
    display: flex;
    align-items: center;
    padding: 25px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
}
.buttons{
    padding: 15px 15px;
    margin-left: 1050px;  
}
.buttons button{
    margin-left: 10px;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
}
.login{
    background-color:white ;
    color: black;
    border-radius: 30px;
}
.signup{
    background-color: black;
    color: white;
    border-radius: 30px;
}
main{
    padding: 120px 50px;
}
h1{
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 60px;
}
.search{
   margin-bottom: 10px;
}
input, select, .search-button{
    padding: 20px;
    border: none;
    font-size: 20px;
}
input{
    padding-right: 240px;
}
select{
    cursor: pointer;
}
.search-button{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.sign-in-link{
    color: black;
}
.sign-in-link a{
    color: black;
    font-size: 15px;
}
.areas{
    margin-top:150px;
    display: flex;
    text-align: center;
}
.options{
    padding:100px;
    margin-left: -100px;
}
.areas .options img{
    width: 400px;
    height: 250px;
}
.options p{
    font-weight: bold;
    font-size: 28px;
    margin-right: 40px;
}
.options a{
    color: black;
    margin-right: 140px;
}
