body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
}
body{
    @font-face {
        font-family:UberMoveBold, Arial, sans-serif ;
        src: url(UberMoveBold.otf);
    }
}
html{
   overflow-x: hidden;
}
header{
    padding-right: 40px;
    padding-left: 40px;
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
    height: 64px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 250px;
}
nav{
    display: flex;
}
menu{
    width: 48px;
    height: 48px;
    padding:0;
    margin: 0;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}
.logo img{
    display: block;
    height: 16px;
    width: auto;
    cursor: pointer;
   
}
.buttons{
    margin-left: 24px;
    display: flex; 
    height:36px ;
}

.gap1{
   min-width: 250px;
   align-self: flex-start;
   width: 100%;
   align-items: center;
   height: 100%;

}
.login{
    margin-right: 16px;
    height: 36px;
    padding: 12px;
    border-radius: 500px;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}
.signup{
    background-color: black;
    height: 36px;
    padding: 12px;
    border-radius: 500px;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    border: none;
}
main{
   padding: 0 40px; 
   min-width: 1024px;
   max-width: 1920;
   margin: 0 auto;
   box-sizing: border-box;
   height: 200px;
  
}
main{
    @font-face {
        font-family:UberMoveBold,sans-serif ;
        src: url(UberMoveBold.otf);
    }
}
main h1{
    max-width: 60%;
    margin-bottom: 40px;
    line-height: 64px;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
    display: block;
}
.search{
    display: flex;
    height: 56px;
}
 input{
    border: none;
    padding: 8px 16px;
    line-height: 20px;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    min-width: 45%;
    box-sizing: border-box;
    line-height: 40px;
    cursor: pointer;
}
.spacer{
    width: 8px;
    height: 1px;
    margin: 0;
    padding: 0;
}
select{
    height: 100%;
    cursor: pointer;
    min-width: 15%;
}
.search-button{
    border-radius: 8px;
    padding: 12px 16px;
    min-height: 56px;
    font-size: 18px;
    height: 56px;
    background: black;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
}
.uber img{
    position: absolute;
    height: 823px;
    font-weight: 100%;
    left: 0px;
    top: 0px;
    margin-left: -20px;
    z-index: -1;
    align-items: center;
    right: 0;
    bottom: 0;
}
.sign-in-link{
    color: black;
}
.sign-in-link a{
    color: black;
    font-size: 15px;
}
.areas{
    margin-top:30px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
}
.options{
    padding:80px;
    margin-left: -100px;
}
.areas .options img{
    width: 110%;
    height: 250px;
    right: 900px;
    
}
.options p{
    font-weight: bold;
    font-size: 28px;
    margin-right: 65px;
    max-width: 100%;
    margin-top: 10px;
}
.options a{
    color: black;
    margin-left: -150px;
    font-weight:500;
}
.map img{
    width: 97.5%;
    margin-left: 20px;
    margin-top: -20px;
    margin-right: -30px;
}
.cites{
    display: flex;
} 
.cites h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.cites a{
    color: black;
    margin-left: 940px;
    padding: 40px;
}
.citenames{
    display: flex;
    padding: 15px;
    justify-content: space-around;
    margin-top: -30px;
    color:#494646;
    cursor: pointer;
}
.citenames .column{
    flex-basis: 20%;
}
.citenames .column p{
    font-size: 18px;
    margin: 25px 0;
}
.countries{
    display: flex;
}
.countries h2{
    font-size: 40px;
    font-family:Arial, sans-serif;
    margin-left: 40px;
}
.countries a{
    color: black;
    margin-left: 700px;
    padding: 38px;
}
.countriesname{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    cursor: pointer;
    margin-top: -20px;
    margin-left: 10px;
}
.countriesname .column{
    flex-basis: 20%;
}
.countriesname .column p{
    font-size: 18px;
    margin: 25px 0;
    color: #294646;
}
hr{
    border: none;
    height: 0.5px;
    background-color: rgb(192, 187, 187);
    margin-top: 10px;
}
.uber{
    display: flex;
}
.uber h2{
   font-size: 35px; 
   padding: 30px;
   margin-right: 300px;
   margin-left: 80px;
}
.moreoptions{
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
.moreoptions .column{
    display: flex;
    flex-direction: column;
     margin-right: 100px;
}
.moreoptions .column a{
    color:  #000000;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 18px;
    color: #294646;
}
.moreoptions .column a:hover{
    text-decoration: underline;
}
.appstores{
    display: flex;
    cursor: pointer;
    margin-left: 100px;
}
 .app-store img{
   margin-top: -200px; 
   height: 150px;
}
.google-play img{
   margin-top: -150px;
   height: 180px;
}
.socialmedia{
    display: flex;
    margin-top: 35px;
    margin-left: 90px;
}
.facebook img{
height: 30px;
}
.twitter img{
    height: 22px;
    margin-top: 4px;
}
.instagram img{
    height: 25px;
    margin-top: 4px;
}
.footerlink{
    margin-left: 700px;
    font-size: 15px;
    margin-top: -20px;
}
.footerlink a{
    color: #294646;
    text-decoration: none;
    margin-left: 30px;
}
.footerlink a:hover{
    text-decoration: underline;
}
.privacy{
    display: flex;
    justify-content: space-between;
    margin-left: 450px;
    margin-right: 74px;
    color: #294646;
    font-size: 15px;
}

/* mobile style
@media screen and (max-width:600px){
.areas {
    margin-top: -200px;
}
.options{
    margin-left: -0px;
    padding:60px ;
}
.areas .options img{
   width: 180px;
   height: 100px;
   margin: 0;
}
}
@media screen and (max-width:415) {
    .options{
        margin-top: 300px;
    }
}
/* small tablet styles
@media screen and (max-width:600px){
    .options{
      margin-left: -50px; 
    }
    .areas .options img{
      margin-left: -10px;  
    }
}
@media screen and (max-width:626px) {
    main h1{
     padding:-20px;
     margin-right: -600px;
    }
    
}
/* large tablets & laptop style
@media screen and (max-width: 915px){
   .options{
    margin-top: -5px;
   }
   .search{
    margin-right: -300px;
   }
   }
/* desktop styles
@media screen and (max-width: 1181px){
    header{
      margin-top: -50px;
    }
    .buttons{
        padding: 60px;
       margin-left: 680px;
    }
    .uber img{
        height: 100%;
    }
    main{
       padding: 290px 0; 
       margin-left: 30px;
    }
    main h1{
        margin-left: 20px;
    }
    .search{
        margin-left: 30px;
    }
    .sign-in-link{
        margin-left: 30px;
    }
    .areas{
        margin-top: 10px;
    }
    .areas .options img{
        height: 60%;
        width: 110%;   
    }
    .options p{
        margin: 0;
        font-size: 26px;
    }
    
    .cites a{
        margin-left:680px;
    }
    .countries a{
        margin-left: 450px;
    }
    .uber h2{
        margin-left: 0px;
        margin-right: 20px;
    }
    .moreoptions {
       padding: 70px;
       padding-left: 260px;
    }
    .appstores{
     margin-top: -50px;
     margin-left: 20px;
    }
    .footerlink{
        margin-left: 500px;
        margin-top: -30px;
    }
    .privacy{
        margin-left: 300px;
    }
}
@media screen and (max-width:614px){
    .search{
        margin-right: -800px;
    }

}
@media screen and (min-width:1444px) {

    .buttons{
        margin-left: 1110px;
    }
    .uber img{
        height: 106%;
        width: 110.5%;
        overflow-x: hidden;
    }
    main{
        padding: 380px;
        margin-left: -330px;
    }
    .options p{
        margin-bottom: 10px;
    }
    .areas{
        padding: 200px;
        margin-top: -200px;
        margin-left: -150px;
    }
    .areas .options img{
        width: 110%; 
    }
    .cites {
        margin-top: -150px;
    }
}